# Data Science Tools And Ecosystem

 In this notebook, Data science tools and ecosystem are summarized.

**Objectives:**
    
* python
* R
* SQL
* Scala
* Julia
* Java
* C++

Some of the popular languages that Data scientists use are:
    
    1. Python
    2. R
    3. SQL
    4. Scala
    5. Java
    6. C++

Some of the commonly used libraries used by Data scientists include:
    
    1. Pandas
    2. Numpy
    3. Matplotlib
    4. Seaborn
    5. Scikit-learn
    6. De keras

|Data Science Tools|
| ----------------|
| jupyter notebook|
| Rstudio|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author:
 Chisom Onyesoro